[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
    font-size: 30px;
    color: #554455;
      }

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 30px;
  color: #554455;
}

.links {
    text-decoration: none;
    color: #554455;
    font-size:17px;
}
.zocial {
    text-decoration: none;
    margin: 20px;
    padding: 10px;
}

.iconf {
    margin: 0 10px 0 0;
}

.blue {
	background-color: #EEEFEA;
}

.nydiapic {
	height: 250px;
	width: 250px;
}

.iconSkill {
	font-size: 50px;

}

.projects_list{
  padding-left: 0;
  list-style: none;
}
