[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
    font-size: 30px;
    color: #554455;
      }

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 30px;
  color: #554455;
}

.links {
    text-decoration: none;
    color: #554455;
    font-size:17px;
}
.zocial {
    text-decoration: none;
    margin: 20px;
    padding: 10px;
}

.iconf {
    margin: 0 10px 0 0;
}

.blue {
	background-color: #EEEFEA;
}

.nydiapic {
	height: 250px;
	width: 250px;
}

.iconSkill {
	font-size: 50px;

}

.projects_list{
  padding-left: 0;
  list-style: none;
}
.hello_anim{
  -webkit-animation: moveInLeft 2s ease-out;
      animation: moveInLeft 2s ease-out;
}

.icons_skills{
  margin-bottom: 20px;
}

.my_pic{
  border-radius: 50%;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }
